<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas | SIVEM</title>
    {{template "generalcsstemplates"}}

    <link rel="stylesheet" type="text/css" href="Recursos/Locales/Index/css/index.css">
</head>
<body>

    <div class="col-lg-12">
        <div class="row">
            {{template "navbartemplate" .}}
            <div class="col-lg-10 col-md-10 rounded-lg">
                <div class="container mt-4">
                    <h1 class="text-center">Empresas</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>

</body>
{{template "generaljstemplates"}}
<script>
    empresas.classList.add("selected");
</script>
</html>