{{define "generalcsstemplates"}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="Recursos/Generales/Plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="Recursos/Generales/Plugins/Dropify/css/dropify.css">
{{end}}

{{define "generaljstemplates"}}
<script src="Recursos/Generales/Plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="Recursos/Generales/Plugins/bootstrap4/js/popper.min.js"></script>
<script src="Recursos/Generales/Plugins/bootstrap4/js/bootstrap.min.js"></script>
<script src="Recursos/Generales/Plugins/Dropify/js/dropify.js"></script>
<script src="Recursos/Locales/Index/js/index.js"></script>	
<script src="Recursos/Locales/Index/js/navbar.js"></script>	
{{end}}


{{define "navbartemplate"}}
<div class="col-lg-2 col-md-2">
    <div id=menu>
        <div class="d-flex justify-content-end align-items-center mt-2">
            <b class="my-auto mr-1 menuTitle">MENU</b>
            <a id="menu">
                <img src="Recursos/Imagenes/icoMenu.png"  width="35" alt="menu">
            </a>
        </div>
    </div>
    <hr class="bg-dark d-none">
    <div class="sidenav navbar-nav">
                <a class="icoMenu">
                    <img id="closeMenu" src="Recursos/Generales/Plugins/icons/build/svg/x2.svg" alt="">
                </a>
                <hr class="bg-white d-none">
                <a href="/index" id="indexit" class="">Inicio</a>
                <a href="/clientes" id="clientesit" class="">Clientes</a>
                <a href="/empleados" id="empleadosit" class="">Empleados</a>
                <a href="/empresas"id="empresasit" class="">Empresas</a>
                <a href="/medios" id="mediosit" class="">Medios</a>
                <a href="/materiales" id="materialesit" class="">Materiales</a>
                <a href="/espectaculares" id="espectacularesit" class="">Espectaculares</a>
                <a href="/ventas" id="ventasit" class="">Ventas</a>
                <a href="/vallas" id="vallasit" class="">Vallas</a>
                <a href="/vallasmoviles" id="vallasmovilesit" class="">Vallas Moviles</a>
                <div class="mt-auto">
                    <a href="#" class="useron">{{.Usuario.Nombre2}}</a>
                    <a href="/logout" class="username">Cerrar Sesión</a>
                </div>
              </div>
</div>
{{end}}